/* Color */
$dark: #000000;
$white: #FFFFFF;
$pattens-blue: #d5eeff;
$endeavour: #005689;
$curious-blue: #007cb9;
$aqua-blue: #eaf6f6;
$emerald: #10b981;
$slate: #334155;
$off-white: #f1f5f9;
$light-blue-grey: #cbd5e1;

/* Font */
$nunito: 'Nunito', sans-serif;
