.home-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    gap: 50px;
}

.home-left, .home-right {
    flex: 1;
}

/* Left Section */
.home-left h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #000000;
    margin-bottom: 20px;
    line-height: 1.2;
}

.home-left p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 90%;
}

.highlight-text {
    color: #8594e4;
    font-weight: 700;
}

.buttons {
    display: flex;
    gap: 15px;
}

.button-contact {
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

.button-contact:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}

.button-cv {
    background-color: #8594e4;
    color: #FFFFFF;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

.button-cv:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}

/* Right Section */
.home-right {
    display: flex;
    justify-content: center;
    align-items: center
}

.home-right img {
    width: 400px;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .home-container {
        flex-direction: column-reverse;
        padding: 40px 20px;
        text-align: center;
        gap: 30px;
    }

    .home-left p {
        max-width: 100%;
    }

    .buttons {
        justify-content: center;
    }

    .home-right img {
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
    }
}