.header-container {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.header-title a {
    color: #000000;
    text-decoration: none;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-menu a {
    text-decoration: none;
    color: #000000;
    padding: 30px;
}