.header-container {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}

.header-title h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.header-title a {
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
}

.header-menu a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    padding: 0 15px;
    height: 40px;
    display: flex;
    align-items: center;
}

.header-menu a:hover, .header-menu a.active {
    color: #8594e4;
}

.lang-switch {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 0.9rem;
    margin-left: 20px;
    padding-left: 20px;
}

.lang-switch span {
    cursor: pointer;
    color: #000000;
    font-weight: 600;
    transition: color 0.2s;
}

.lang-switch span:hover {
    color: #8594e4;
}

.lang-switch .separator {
    cursor: default;
    color: #ddd;
}

.lang-switch .separator:hover {
    color: #ddd;
}

.active-lang {
    color: #8594e4 !important;
    font-weight: 800;
}
